// Variáveis de cor
$body-color: #e4e9f7;
$sidebar-color: #fff;
$banner-color: #a8a1bd;
$primary-color-light: #dad8e7;
$toggle-color: #776767;
$text-white: #fff;
$text-color: #707070;
$text-color-two: #213a4b;
$text-color-three: #0b0a0a;
$foot-color: #968b8b;
$search-color: #000;

$color-initial: #A79776;
$sec-color-one: #edb4b4;
$sec-color-two: #a8b9f1;
$sec-color-three: #eb75ee;
$sec-color-four: #9e68ce;

$scrollbar-thumb-color: #c1b5b5;
$scrollbar-track-color: #4e4f60;

// Variáveis de transição
$tran-01: all 0.1s ease;
$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;
$tran-06: all 0.6s ease;
$tran-07: all 0.7s ease;
$tran-08: all 0.8s ease;
$tran-09: all 0.9s ease;