@import "../scss/mixins.scss";

footer {
    background-color: var(--body-color);
    justify-content: center;

    .footer-head {
      @include chooce-justify(space-evenly);
      color: var(--text-color);
      padding-left: 2vh;
      padding: 4vh;
    }

    .footer-head cite,
    .footer-head h3 {
      cursor: pointer;
    }

    .footer-mid {
      @include chooce-justify(space-evenly);
      @include width-and-height-equal(100%);
      background-color: var(--foot-color);
      padding: 5vh;
      color: var(--body-color);
    }

    .foot-one p,
    .foot-two p,
    .foot-three p{
      cursor: pointer;
      font-size: clamp(1rem, 0.5vw, 3rem);
    }

    .footer-end {
      @include justify-and-align(center, center);
      @include width-and-height-equal(100%);
      background-color: var(--body-color);
      padding: 4vh;
    }
  
    .footer-end strong{
      color: var(--text-color);
      font-size: clamp(1rem, 0.5vw, 3rem);
    }
  }