@import url('https://fonts.googleapis.com/css2?family=Joan&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "../scss/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  max-width: 200vw;
  max-height: 300vh;
}

body {
  @include width-and-height-equal(100%);
  background-color: var(--body-color);
  transition: var(--tran-02);
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --banner-color: #e3e0d2;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --text-color-two: #ccc;
  --text-color-three: #000000;
  --foot-color: #3c3434;
  --search-color: #fff;
}

/* SIDEBAR --------------------------------------------------*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  max-width: 100%;
  padding: 10px 14px;
  border-top-right-radius: 3vh;
  transition: var(--tran-03);
  width: clamp(8rem, 16vw, 50rem);
  background: var(--sidebar-color);
}

.sidebar.close {
  width: clamp(5rem, 6vw, 12rem);
}

.sidebar .text,
.sidebar .separate-line .text-line {
  font-size: clamp(0.5rem, 1vw, 5rem);
  font-weight: 500;
  color: var(--text-color);
  transition: none;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text,
.sidebar.close .text-line {
  opacity: 0;
  pointer-events: none;
}

.sidebar .image {
  @include chooce-align(center);
  padding-right: 5%;
  font-size: clamp(0.5rem, 1vw, 5rem);
}

.sidebar li {
  @include chooce-align(center);
  height: 7vh;
  margin: 1vh 0;
  list-style: none;
}

.sidebar .separate-line {
  @include chooce-align(center);
  padding: 0.5vh 0;
  background-color: var(--primary-color-light);
  border-radius: 1vh;
}

.icon{
  transition: calc(--tran-08);
}

.sidebar .separate-line,
.sidebar .separate-line .icon {
  color: var(--text-color-two);
}

.sidebar li .icon,
.sidebar .separate-line .icon{
  @include flex-center;
  min-width: 100%;
  font-size: clamp(1rem, 1.3vw, 5rem);
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
}

.sidebar .header-sidebar {
  position: relative;
}

.sidebar .logo-text #logo {
  width: clamp(2rem, 2.5vw, 6rem);
  border-radius: 1vh;
}

.sidebar .header-sidebar .logo-text {
  @include justify-and-align(flex-start, center);
  padding-bottom: 1vh;
}

.header-sidebar .logo-text .header-text {
  @include flex-center;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.sidebar .header-sidebar .toggle {
  @include flex-center;
  position: absolute;
  top: 50%;
  right: -35px;
  transform: translateY(-50%) rotate(180deg);
  background-color: var(--banner-color);
  color: var(--primary-color-light);
  border-radius: 50%;
  font-size: clamp(1rem, 2.3vw, 3rem);
  cursor: pointer;
  transition: all 0.8s ease;
}

.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 2vh;
  border-color: var(--text-color);
  border-style: solid;
  cursor: pointer;
  border: none;
}

.search-box input {
  @include width-and-height-equal(100%);
  border: none;
  outline: none;
  border-radius: inherit;
  font-size: clamp(1rem, 1vw, 5rem);
  font-family: 'poppins' sans-serif;
  color: var(--text-color);
  background: var(--primary-color-light);
  opacity: 0;
}

.search-box .bx-search:hover {
  color: var(--search-color);
  transition: 0.5s;
}

.search-box .bx-search:not(:hover) {
  transition: 0.5s;
}

.sidebar li a {
  @include width-and-height-equal(100%);
  @include chooce-align(center);
  text-decoration: none;
  border-radius: 1vh;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--banner-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
  transition: var(--tran-03);
}

.sidebar .menu-bar {
  @include chooce-justify(space-between);
  height: calc(100% - 50px);
  width: 100%;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 5%;
}

::-webkit-scrollbar {
  @include width-and-height(10px, 2px);
  display: none;
  margin-right: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 1vh;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  border-radius: 1vh;
}
