@import url('https://fonts.googleapis.com/css2?family=Joan&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  height: 100%;
}

main {
  height: 100%;
}

footer {
  position: relative;
}

/* HEADER-TWO */

.container {
  min-width: 1080px;
  margin-left: 10vh;
  margin-right: 5vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-two {
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 4%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 0;
}

#header-two.scrolling-banner,
#header-two.scrolling-one,
#header-two.scrolling-two,
#header-two.scrolling-three,
#header-two.scrolling-four {
  padding: 20px 4%;
  transition: all 0.5s ease-in-out;
}

#header-two.scrolling-banner a,
#header-two.scrolling-banner i{
  color: var(--color-initial);
}

#header-two.scrolling-one a,
#header-two.scrolling-one i {
  color: var(--sec-color-one);
}

#header-two.scrolling-two a,
#header-two.scrolling-two i {
  color: var(--sec-color-two);
}

#header-two.scrolling-three a,
#header-two.scrolling-three i {
  color: var(--sec-color-three);
}

#header-two.scrolling-four a,
#header-two.scrolling-four i {
  color: var(--sec-color-four);
}

#header-two a i {
  font-size: 30px;
  color: var(--text-white);
}

#header-two ul {
  list-style: none;
}

#header-two ul li {
  display: inline-block;
  font-size: 23px;
  margin: 0 40px;
}

#header-two ul li a {
  text-decoration: none;
  color: var(--text-white);
  font-family: "oxanium";
  font-weight: 500;
}

.btn-contato button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background: var(--banner-color);
  color: var(--text-color-three);
  cursor: pointer;
  border: none;
}

.btn-contato a button {
  font-size: 1em;
  font-weight: 600;
}

/* UNDERLINE INITIAL */

#underline {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#underline::after {
  content: '';
  position: absolute;
  width: 0;
  height: 5px;
  top: 100%;
  left: 0;
  background-color: var(--banner-color);
}

@keyframes grow-line {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

#underline:hover::after {
  animation: grow-line 0.3s ease-in-out forwards;
}

#header-two.scrolling-banner #underline::after{
  background-color: var(--color-initial);
}

#header-two.scrolling-one #underline::after{
  background-color: var(--sec-color-one);
}

#header-two.scrolling-two #underline::after{
  background-color: var(--sec-color-two);
}

#header-two.scrolling-three #underline::after{
  background-color: var(--sec-color-three);
}

#header-two.scrolling-four #underline::after{
  background-color: var(--sec-color-four);
}

/* UNDERLINE FINAL */

/* SECOES */

#banner {
  width: 100%;
  height: 100%;
  background-image: url(img/img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

#sec-one {
  width: 100%;
  height: 100%;
  background-image: url(img/img-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: left;
  transition: all 0.5s ease-in-out;
}

#sec-two {
  width: 100%;
  height: 100%;
  background-image: url(img/img-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 0.5s ease-in-out;
}

#sec-three {
  width: 100%;
  height: 100%;
  background-image: url(img/img-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: left;
  transition: all 0.5s ease-in-out;
}

#sec-four {
  width: 100%;
  height: 100%;
  background-image: url(img/img-5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 0.5s ease-in-out;
}

.sec-text-one,
.sec-text-three {
  margin-left: 20vh;
  transition: all 0.3s ease-in-out;
}

.sec-text-two,
.sec-text-four {
  margin-right: 13vh;
}

h2 {
  font-size: 4em;
}

p {
  font-size: 1.3em;
  color: #fff;
}

#banner h1 {
  font-size: 4em;
}

#banner h1 span {
  color: beige;
}

/* FOOTER */

footer {
  background-color: var(--body-color);
  justify-content: center;
}

.footer-head {
  display: flex;
  color: var(--text-color);
  justify-content: space-evenly;
  padding-left: 2vh;
  padding: 4vh;
}

.footer-head cite,
.footer-head h3 {
  cursor: pointer;
}

.footer-end {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--foot-color);
  justify-content: space-evenly;
  padding: 10vh;
  color: var(--body-color);
}

.foot-one p,
.foot-two p,
.foot-three p {
  cursor: pointer;
  font-size: 12px;
  color: var();
}