footer {
  background-color: var(--body-color);
  justify-content: center;
}
footer .footer-head {
  display: flex;
  justify-content: space-evenly;
  color: var(--text-color);
  padding-left: 2vh;
  padding: 4vh;
}
footer .footer-head cite,
footer .footer-head h3 {
  cursor: pointer;
}
footer .footer-mid {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: var(--foot-color);
  padding: 5vh;
  color: var(--body-color);
}
footer .foot-one p,
footer .foot-two p,
footer .foot-three p {
  cursor: pointer;
  font-size: clamp(1rem, 0.5vw, 3rem);
}
footer .footer-end {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--body-color);
  padding: 4vh;
}
footer .footer-end strong {
  color: var(--text-color);
  font-size: clamp(1rem, 0.5vw, 3rem);
}